

.authModal{
    padding: 20px 20px 20px 30px;
    width: 900px;   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow-y: scroll;
    height: 90vh;
    z-index: 9999;
    background: #FFF;
    border-radius: 20px;
}
.authModal::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(232, 232, 232, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.authModal::-webkit-scrollbar{
    width: 3px;
    background-color: #F5F5F5;
}
.authModal::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(235, 235, 235, 0.3);
    background-color: #48660E ;
}
.authModal .fx-authModal{gap: 20px;}
.authModal .fx-authModal .authModal-image{
    width:50%;
    border-radius: 28px;
    border: 4px solid #6DA117;
    padding: 20px;
}
.authModal .fx-authModal .authModal-image img{width: 100%;object-fit: cover;border-radius: 28px;height: 100%;}
.authModal .fx-authModal .authModal-texts{width: 50%;}
.authModal .p-haed{margin-bottom: 30px;}
.authModal form .form-group  label{margin-bottom: 12px;}
.authModal form .form-group{margin-bottom: 20px;}
.authModal .fx-authModal .authModal-texts .btnLinear-gradient{
    border-radius: 20px;
    height: 60px;
}
.authModal .fx-authModal .authModal-texts .chooseSignUp{
    margin: 20px 0;
    gap: 5px;
}
.authModal .fx-authModal .authModal-texts .chooseSignUp .border{
    height: 0.5px;
    width: 100%;
    background: #8E8E8E;
}
.authModal .fx-authModal .authModal-texts .chooseSignUp span{white-space: pre;font-size: 10px;}
.authModal .fx-authModal .authModal-texts .signInBy-list{
    gap: 15px;
}
.authModal .fx-authModal .authModal-texts .signInBy-list button{
    height: 60px;
    padding: 0 15px;
    align-items: center;
    justify-content: start;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    width: 100%;
}
.authModal .fx-authModal .authModal-texts .signInBy-list button:hover,
.authModal .fx-authModal .authModal-texts .btnLinear-gradient:hover{transform: scale(0.99);}
.authModal .fx-authModal .authModal-texts .signInBy-list .signIn-facebook{
    background: #1877F2; 
}
.authModal .fx-authModal .authModal-texts .signInBy-list .signIn-google{
    background: #FFF;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08), 0px 2px 3px 0px rgba(0, 0, 0, 0.17);
}
.authModal .fx-authModal .authModal-texts .signInBy-list .signIn-google span{
    color: rgba(0, 0, 0, 0.54);
}
.authModal .fx-authModal .authModal-texts .signInBy-list .signIn-apple{
    background: #000;
}
.phone-input-container{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    background: #FFF;
    height: 55px;
    padding: 0 20px;
}
.phone-input-container input{
    background: none;
    width: 80%;
    border: none;
}  
.dropdown-phone-btn{
    display: flex;
    align-items: center;
    gap: 4px;
} 
.dropdown-phone-btn span{font-size: 13px;}
.phone-input-container .dropdown-phone-list img,
.flag-size{
    width: 31.304px;
    height: 22.174px;
    object-fit: cover;
    border-radius: 5px;
}
.phone-input-container .dropdown-phone-list {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: max-content;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.phone-input-container .dropdown-phone-btn {
    cursor: pointer;
}
.phone-input-container .dropdown-phone-btn p{
    display: flex;
    align-items: center;
    gap: 8px;
}
.phone-input-container .dropdown-phone-btn .arrow-down2{width: 15px;} 
.phone-input-container .dropdown-phone-list p {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #a5a5a5;
}
.phone-input-container .dropdown-phone-list p span{font-size: 16px;}
.phone-input-container .dropdown-phone-list p:hover {background-color: #f0f0f0;}
.phone-input-container .border-input{
    height: 40px;
    width: 0.5px;
    background: #072506;
    opacity: 0.5;
}
.authModal .alertSignUp{
    margin: 20px auto 0 auto;
    text-align: center;
    font-size: 14px;
}
.authModal .alertSignUp a{font-size: 14px;}
/* OTP Modal  */
.otpModal .p-haed{margin-bottom: 20px;}
.otpModal .phoneNumber{margin-bottom: 32px; display: block;}
.otpModal .otp-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.otpModal .otp-container .otp-input {
    width: 25%;
    height: 79.876px;
    text-align: center;
    font-size: 26px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    padding: 0;
}
.otpModal .otp-container .otp-input:focus {
    border-color: #6DA117;
    outline: none;
}
.otpModal .btnLinear-gradient{margin-top: 30px;}
.otpModal .dontReceiveOTP{margin-top: 24px;}
.otpModal .dontReceiveOTP,
.otpModal .resendCode{font-size: 14px;}

@media (min-width:1706.67px) {
    .phone-input-container{height: 70px;}
    .authModal{width: 1000px;height: 88vh;overflow: hidden;}
    .dropdown-phone-btn span{font-size: 15px;}
    .authModal .alertSignUp,
    .authModal .alertSignUp a{font-size: 16px;}
    .authModal .fx-authModal .authModal-texts .chooseSignUp span{font-size: 12px;}
    .otpModal .dontReceiveOTP,
    .otpModal .resendCode{font-size: 16px;}
}
@media (min-width:1920px) {
    .phone-input-container .dropdown-phone-list img, .flag-size{width: 36px;height: 28px;}
    .authModal{width: 1100px;}
    .authModal .fx-authModal .authModal-texts .btnLinear-gradient,
    .authModal .fx-authModal .authModal-texts .signInBy-list button{height: 70px;}
     .authModal .fx-authModal .authModal-texts .signInBy-list button img{width: 35px;}
     .authModal .fx-authModal .authModal-texts .signInBy-list{gap: 20px;}
    .dropdown-phone-btn span{font-size: 18px;}
    .authModal .fx-authModal .authModal-texts .chooseSignUp{margin: 30px 0;}
    .authModal .alertSignUp,
    .authModal .alertSignUp a{font-size: 19px;}
    .authModal .fx-authModal .authModal-texts .chooseSignUp span{font-size: 15px;}
    .otpModal .dontReceiveOTP,
    .otpModal .resendCode{font-size: 19px;}
    .authModal{height: 85vh;}
}
@media (min-width:2048px) {
    .authModal{height: 84vh;}
    .authModal form .form-group{margin-bottom: 30px;}
     .authModal .fx-authModal .authModal-texts .chooseSignUp span{font-size: 17px;}
    .otpModal .dontReceiveOTP,
    .otpModal .resendCode{font-size:21px;}
    .otpModal{height: 80vh;}
}
@media (min-width:2304px) {
    .authModal{height:78vh;width: 1200px;}
    .authModal .fx-authModal .authModal-texts .chooseSignUp span{font-size: 19px;}
    .otpModal .dontReceiveOTP,
    .otpModal .resendCode{font-size:23px;}
}
@media (min-width:3072px) {
    .authModal{height:64vh;width: 1300px;}
}
@media (min-width:4608px) {
    .authModal{height:42vh;}
}
@media (min-width:6144px) {
    .authModal{height:32vh;}
}
@media (max-width:1396.36px) {
    .authModal .fx-authModal .authModal-texts .btnLinear-gradient,
    .authModal .fx-authModal .authModal-texts .signInBy-list button{height: 50px;}
    .phone-input-container{height: 50px;}
    .otpModal .otp-container .otp-input{height: 69px;font-size: 24px;}
    .authModal .fx-authModal .authModal-image{height: 529px;}
    .otpModal{overflow: hidden;}
}
@media (max-width:1228.8px) {
    .authModal{width: 800px;}
    .phone-input-container{height: 45px;padding: 10px;}
    .phone-input-container .border-input{height: 25px;}
    .authModal .fx-authModal .authModal-texts .btnLinear-gradient,
    .authModal .fx-authModal .authModal-texts .signInBy-list button{height: 45px;}
    .authModal .fx-authModal .authModal-image{padding: 16px;}
    .authModal .fx-authModal .authModal-image{height: 466px;}
    .otpModal .otp-container .otp-input{height: 59px;}
    .otpModal .phoneNumber{margin-bottom:24px;}
}
@media (max-width:1024px) {
    .authModal{width: 700px;}
    .authModal .fx-authModal .authModal-texts .chooseSignUp{margin: 15px 0;}
    .authModal .alertSignUp{font-size: 13px;}
    .authModal .p-haed{margin-bottom: 20px;}
    .authModal form .form-group label{margin-bottom: 8px;}
    .otpModal .fx-authModal .authModal-image{padding: 14px;height: max-content;}
    .otpModal{overflow: scroll;}
    .otpModal .phoneNumber{margin-bottom:18px;}
}
@media (max-width:877.71px) {
    .authModal .alertSignUp{font-size: 12px;}
    .authModal .fx-authModal .authModal-texts{width: 45%;}
    .authModal .fx-authModal .authModal-image{width: 55%;padding: 12px;}
    .authModal .p-haed{margin-bottom: 16px;}
    .authModal form .form-group label{margin-bottom: 6px;}
     .otpModal .phoneNumber{margin-bottom:16px;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    .phone-input-container{padding: 0 10px;height: 45px;}
    .phone-input-container .border-input{height: 27px;}
    .phone-input-container .dropdown-phone-list img, .flag-size{width: 25px;height: 18px;}
    .phone-input-container .dropdown-phone-list p span{font-size: 12px;}
    .phone-input-container .dropdown-phone-list{padding: 6px;}
     .authModal{width: 95%;height: max-content; padding: 20px 16px;}
    .authModal .fx-authModal .authModal-texts{width: 100%;}
    .authModal .fx-authModal .authModal-image{width: 55%;display: none;}
    .authModal h1{font-size: 25px;}
    .authModal .p-haed{font-size: 13px;}
    .otpModal .otp-container{gap: 16px;}
    .otpModal{overflow: hidden;}
    .authModal::-webkit-scrollbar{display: none;}
    .authModal .fontSize18{font-size: 15px;}
    .authModal .fontSize17{font-size: 14px;}
    .phone-input-container input{font-size: 13px;}
}
@media (max-width:512px) {
}
/* Regsiter Page Style */
.registerPage {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100% !important;
    box-shadow: none;
    overflow: auto;
    height: 100%;
    padding: 0;
    border-radius: 0;
    z-index: 99;
}
.registerPage .fx-authModal{align-items: normal;}
.registerPage .fx-authModal .authModal-texts{padding: 50px;}
.registerPage .fx-authModal .authModal-texts .karootoLogo{margin-bottom: 40px;width: 85%;}
.registerPage .fx-authModal .authModal-texts .karootoLogo img{width: 100%;height: 100%;}
.registerPage .fx-authModal .authModal-texts .regsiterWidth{
    width: 70%;
    margin: auto;
}
.registerPage .fx-authModal form .form-group label{margin-bottom: 8px;}
.registerPage .fx-authModal .alreadyHaveAccount{
    margin: 48px auto 0 auto;
    text-align: center;
}
.registerPage .fx-authModal .authModal-image{
    height: initial;
    background-image: url(../images/backRegister.png);
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}
.registerPage .fx-authModal .authModal-image a{
    text-decoration: none;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.registerPage .fx-authModal .authModal-image a img{
    width: 12px;
    transform: rotate(180deg);
    justify-content: center;
}
.registerPage .fx-authModal .sliderInRegister{width: 100%;}
.registerPage .fx-authModal .sliderInRegister .slide .slideRegister{
    width: 95%;
    height: 100%;
    max-width: auto;
}
.registerPage .fx-authModal .sliderInRegister .slideText{
    width: 70%;
    margin: auto;
}
.registerPage .fx-authModal .sliderInRegister .slideText h1{
    line-height: 40px;
    margin-bottom: 12px;
    margin-top: 20px;
}
/* Style the default state of the dots */
.registerPage .fx-authModal .slick-dots{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.registerPage .fx-authModal .slick-dots li{
    list-style: none;
    opacity: 0.4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #6DA117;
    position: relative;
    background-color: transparent;
}
.registerPage .fx-authModal .slick-dots li button {
    font-size: 0;
    line-height: 0;
}
/* Style the active dot */
.registerPage .fx-authModal .slick-dots li.slick-active{
    border: 3px solid #6DA117;
    opacity: 1;
    width: 18px;
    height: 18px;
}
.registerPage .fx-authModal .slick-dots li.slick-active button {
    background-color: #6DA117;
     position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {

}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
 .registerPage .fx-authModal .authModal-texts{padding: 40px;}
}
@media (max-width:1228.8px) {
 .registerPage .fx-authModal .authModal-texts{padding: 30px;}
}
@media (max-width:1024px) {
 .registerPage .fx-authModal .authModal-texts{padding: 20px;}
 .registerPage .fx-authModal .authModal-texts .regsiterWidth{width: 80%;}
}
@media (max-width:877.71px) {
 .registerPage .fx-authModal .authModal-texts .regsiterWidth{width: 90%;}
 .registerPage .fx-authModal .authModal-texts,
 .registerPage .fx-authModal .authModal-image{width: 50%;}
 .registerPage .fx-authModal .authModal-image a img{width: 8px;}
 .registerPage .fx-authModal .authModal-image a{gap: 6px;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    .registerPage .fx-authModal{flex-direction: column;}
    .registerPage .fx-authModal .authModal-texts,
    .registerPage .fx-authModal .authModal-image{width: 100% !important;}
    .registerPage .fx-authModal .authModal-texts{order: 1;}
    .registerPage .fx-authModal .authModal-image{
        height: 80vh;
        justify-content: end;
        order: 2;
        padding-bottom: 2rem;
    }
    .registerPage .fx-authModal .authModal-image a{top: 24px;left: 24px;}
}
@media (max-width:512px) {
}