@font-face {
  font-family: 'Dubai Bold';
  src: url(../fonts/dubai/Dubai-Bold.ttf);
}
@font-face {
  font-family: 'Dubai Medium';
  src: url(../fonts/dubai/Dubai-Medium.ttf);
}
@font-face {
  font-family: 'Dubai';
  src: url(../fonts/dubai/Dubai-Regular.ttf);
}
@font-face {
  font-family: 'Dubai Light';
  src: url(../fonts/dubai/Dubai-Light.ttf);
}
*{
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
  background-color: #FFF !important;
  font-size: 1rem;
}
/* My Library */
main{position: relative;}a,button{cursor: pointer;}p{margin-bottom: 0px;}.textUnDecoration{text-decoration: none !important;}
section{position: relative;}a,.btn-hover{transition: 0.3s;cursor: pointer;}input:focus-visible{outline: none ;}.btn-hover:hover{transform: scale(0.9);}
p,button,a{font-size: 1rem;}.text-center{text-align: center;}.mb-0{margin-bottom: 0 !important;}.mt-1{margin-top: 0.5rem !important}.mt-2{margin-top:1rem !important;}.mt-3{margin-top:1.5rem !important;}.mt-4{margin-top:2rem !important;}.mt-5{margin-top:2.5rem !important;}
.gap-0{gap:0!important}.gap-1{gap:.25rem!important}.gap-2{gap:.5rem!important}.gap-3{gap:1rem!important}.gap-4{gap:1.5rem!important}.gap-5{gap:3rem!important}.mx-auto{margin-left: auto !important;margin-right: auto !important;}
.d-flex{display:flex!important}.align-items-center{align-items:center!important}.align-items-start{align-items:flex-start!important}.align-items-end{align-items:flex-end!important}.w-100{width: 100%;}.text-start{text-align: start !important;}
.justify-content-center{justify-content:center!important}.justify-content-between{justify-content:space-between!important}.pe-2{padding-right: 8px;}.text-capitalize{text-transform: capitalize !important;}.text-uppercase{text-transform: uppercase !important;}
.m-auto{margin:auto!important}.mx-0{margin-right:0!important;margin-left:0!important}.flex-column{flex-direction: column !important;}.pe-0{padding-right: 0 !important;}.d-block{display: block !important;}.pre-whiteSpace{white-space: pre;}
.pb-0{padding-bottom: 0 !important;}.pt-1{padding-top: 0.5rem !important}.pt-2{padding-top:1rem !important;}.pt-3{padding-top:1.5rem !important;}.pt-4{padding-top:2rem !important;}.pt-5{padding-top:2.5rem !important;}
/* Sections */
.white-space-preLine{white-space: pre-line;}
.style-font{font-family: "Dubai";font-weight: 400;}
.font-bold{font-family: 'Dubai Bold';font-weight: 700;}
.font-semiBold{font-family: "Dubai";font-weight: 600;}
.font-medium{font-family: 'Dubai Medium'; font-weight: 500;}
.font-ExtraBold{font-family: 'Dubai ExtraBold';}
.font-light{font-family: 'Dubai Light';}
.px-90{padding: 0 90px;}
.px-100{padding: 0 100px;}
.px-80{padding: 0 80px;}
.px-110{padding: 0 110px;}
@media (min-width:1920px) {
  .px-110{padding: 0 140px;}
  .px-100{padding: 0 120px;}
}
@media (max-width:1396.36px) {
   .px-110{padding: 0 100px;}
    .px-80{padding: 0 40px;}
    .px-100{padding: 0 90px;}
    .px-90{padding: 0 70px;}
}
@media (max-width:1228.8px) {
   .px-110{padding: 0 40px;}
   .px-100{padding: 0 50px;}
    .px-90{padding: 0 50px;}
}
@media (max-width:1024px) {
  .px-90{padding: 0 30px;}
}
@media (max-width:877.71px) {
    .px-80{padding: 0 50px;}
    .px-110{padding: 0 30px;}
    .px-100{padding: 0 40px;}
}
@media (max-width:768px) {
    .px-80{padding: 0 20px;}
    .px-110{padding: 0 20px;}
    .px-100{padding: 0 20px;}
    .px-90{padding: 0 20px;}
}

@media (min-width:1920px) {

}
@media (max-width:1288.8px) {

}
@media (max-width:1024px) {

}
@media (max-width:877.71px) {

}
@media (max-width:768px) {

}
/* Texts Style */
.letterSpacing{ letter-spacing: -0.333px;}
/* ///////////////////// */
.fxGeneral-cards {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0;
}
.fxGeneral-card{
    box-sizing: border-box;
    width: max-content;
    transition: 0.3s;
    cursor: pointer;
}
/* Head Title  Style*/
.headStyle{position: relative;align-items: end; margin-bottom: 40px;}
.headStyle .lineTitle{
  position: absolute;
  bottom: 0rem;
  left: 0;
}
.headStyle .headStyle-texts h1{
  font-size: 40px;
  line-height: 72px;
}
.btnProducts{
  display: flex;
  border-radius: 20px;
  background: linear-gradient(87deg, #6DA117 0.41%, #B9C700 104.45%);
  padding:  10px 30px;
  gap: 15px;
  height: max-content;
}
.btnProducts2{display: none;}
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {

}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {

}
@media (max-width:1228.8px) {
  .headStyle .headStyle-texts h1{font-size: 36px;}
}
@media (max-width:1024px) {
  .headStyle .headStyle-texts h1{font-size: 32px;}
  .btnProducts{padding: 7px 15px;gap: 8px;}
  .btnProducts img{width: 15px;}
}
@media (max-width:877.71px) {

}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
  .headStyle{flex-direction: column; align-items: start; justify-content: space-between;margin-bottom: 20px;}
  .btnProducts{padding: 7px 15px;gap: 8px;}
  .btnProducts{display: none;}
  .btnProducts2{display: flex;margin:15px auto 0 auto;padding: 10px 20px;}
}
@media (max-width:512px) {
}
/* Sizes Texts */
.fontSize18{font-size: 18px;}
.fontSize16{font-size: 16px;}
.fontSize25{font-size: 25px;}
@media (min-width:1706.67px) {
  .fontSize18{font-size: 21px;}
  .fontSize16{font-size: 18px;}
  .fontSize25{font-size: 27px;}
}
@media (min-width:1920px) {
  .fontSize18{font-size: 24px;}
  .fontSize16{font-size: 21px;}
  .fontSize25{font-size: 30px;}
}
@media (min-width:2048px) {
  .fontSize25{font-size: 34px;}
}
@media (min-width:2304px) {
  .fontSize18{font-size: 26px;}
  .fontSize16{font-size: 23px;}
}
@media (max-width:1396.36px) {
  .fontSize18{font-size: 16px;}
  .fontSize16{font-size: 14px;}
  .fontSize25{font-size: 23px;}
}
@media (max-width:1228.8px) {
  .fontSize18{font-size: 15px;}
  .fontSize16{font-size: 13px;}
  .fontSize25{font-size: 20px;}
}
@media (max-width:1024px) {
  .fontSize18{font-size: 14px;}
  .fontSize16{font-size: 12px;}
  .fontSize25{font-size: 18px;}
}
@media (max-width:877.71px) {
  .fontSize18{font-size: 13px;}
  .fontSize16{font-size: 11px;}
  .fontSize25{font-size: 16px;}
}
@media (max-width:768px) {
  .fontSize18{font-size: 11px;}
  .fontSize16{font-size: 11px;}
}
@media (max-width:614.4px) {
  .fontSize25{font-size: 15px;}
}
/* ColorS Texts */
.lightGreen{color: #48660E;}
.lightGreen2{color: #6DA117;}
.darkGreen{color: #123A10;}
.colorWhite{color: #fff;}
.darkGreen2{color: #072506;}
/* /////////////////////////// */
/* Product Card Style */
.fxProducts{gap: 20px;}
.fxProducts .productCard{
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25.35% - 20px);
}
.productCard{
  border-radius: 16px;
  background: #FFF;
  padding: 10px;
  transition: .3s;
}
.productCard:hover{transform: scale(0.98);}
.productCard .productCard-imgs{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6F6F6;
  padding: 32px 50px 23px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.productCard .productCard-imgs span{
  color: #FFF;
  text-align: center;
  font-size: 13px;
  letter-spacing: -0.333px;
  border-radius: 10px 0px 5px 0px;
  background: #6DA117;
  padding: 7px 12px;
  position: absolute;
  left: 0;
  top: 0;
}
.productCard .productCard-imgs .favouriteIcon{
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 4px;
  cursor: pointer;
}
.productCard .productCard-imgs .productImage{
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}
.productCard .productCard-imgs .productImage img{
  object-fit: contain;
  margin: auto;
  display: block;
  width: 100%};

.productCard .productCard-title{padding: 15px 0 10px 0;}
.productCard .productCard-title h2{
  font-size: 22px;
  letter-spacing: -0.333px;
}
.productCard .productCard-title .fxRate-card{gap: 5px;}
.productCard .productCard-title .fxRate-card span{font-size: 12px;}
.productCard .productCard-Details{align-items: center;}
.productCard .productCard-Details .mount{
  color: #989898;
  font-size: 15px;
}
.productCard .productCard-Details h2{font-size: 20px;}
.productCard .productCard-Details p{font-size: 20px;}
.productCard .productCard-Details .fxProduct-price{gap: 5px;}
.productCard .productCard-Details .fxProduct-price h2{font-size: 20px;}
.productCard .productCard-Details .fxProduct-price p{
  color: #989898;
  font-size: 14px;
  letter-spacing: -0.333px;
  text-decoration-line:line-through;
}
.productCard .productCard-Details .btnShoppingCart{
  border-radius: 8px;
  background: rgba(109, 161, 23, 0.10);
  height: 30px;
  gap: 5px;
  width: 94px;
}
.productCard .productCard-Details .btnShoppingCart span{font-size: 10px;}
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {

}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
  .productCard .productCard-title h2{font-size: 20px;}
  .productCard .productCard-Details .fxProduct-price h2{font-size: 18px;}
  .productCard .productCard-Details .mount{font-size: 14px;}
  .productCard .productCard-Details .fxProduct-price p{font-size: 13px;}
  .productCard .productCard-imgs span{font-size: 12px;padding: 5px 10px;}
}
@media (max-width:1228.8px) {
  .productCard .productCard-title h2{font-size: 16px;}
  .productCard .productCard-Details .fxProduct-price h2{font-size: 15px;}
  .productCard .productCard-Details .mount{font-size: 13px;}
  .productCard .productCard-Details .fxProduct-price p{font-size: 12px;}
  .productCard .productCard-imgs span{font-size: 11px;padding: 3px 8px;}
}
@media (max-width:1024px) {

}
@media (max-width:877.71px) {
  .fxProducts{gap: 20px;}
  .fxProducts .productCard{
    flex: 1 1 calc(33.3% - 20px);
    max-width: calc(33.3% - 0px);
  }
}
@media (max-width:768px) {
  .fxProducts{gap: 10px;}
  .fxProducts .productCard{
    flex: 1 1 calc(33.3% - 10px);
    max-width: calc(33.3% - 0px);
  }
}
@media (max-width:614.4px) {
  .fxProducts .productCard{
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 0px);
  }
}
@media (max-width:512px) {
    .fxProducts{gap: 16px;}
    .fxProducts .productCard{
      flex: 1 1 calc(100% - 16px);
      max-width: calc(100% - 0px);
    }
}
/* //////////////////////////////// */
 .coverBack {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
}
.numberLines{
  display: -webkit-box;
  /* -webkit-line-clamp: 4; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Buttons Style */
.btnLinear-gradient{
  background: linear-gradient(87deg, #6DA117 0.41%, #B9C700 104.45%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 30px;
  justify-content: center;
}
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {

}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {

}
@media (max-width:1228.8px) {

}
@media (max-width:1024px) {

}
@media (max-width:877.71px) {
  .btnLinear-gradient{padding: 7px 20px;gap: 10px;}
}
@media (max-width:768px) {
  .btnLinear-gradient{padding: 5px 16px;gap: 8px;}
  .btnLinear-gradient img{width: 15px;}
}
@media (max-width:614.4px) {

}
@media (max-width:512px) {
}



@media (min-width:2048px) {
  html{  width: 2050px;margin: auto;}
}



/* Just for copy */
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {

}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {

}
@media (max-width:1228.8px) {

}
@media (max-width:1024px) {

}
@media (max-width:877.71px) {

}
@media (max-width:768px) {

}
@media (max-width:614.4px) {

}
@media (max-width:512px) {
}