  
.shoppingCart{margin: 80px 0 0 0;}
.shoppingCart .fx-shoppingCart{gap: 75px;}
.shoppingCart .shoppingCart-part1{width:70%;}
/* Change Location Style */
.shoppingCart .shoppingCart-part1 .divChangeLocation{position: relative;}
.shoppingCart .shoppingCart-part1 .changeLocation{
    width: 100%;
    border-radius: 15px;
    background: #F8F8F8;
    padding: 15px;
    align-items: center;
    margin-bottom: 30px;
}
.shoppingCart .shoppingCart-part1 .changeLocation .changeBtn{
    padding: 0 27px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #DFDFDF;
}
.shoppingCart .shoppingCart-part1 .itemLocation{gap:16px;height: max-content;}
.shoppingCart .shoppingCart-part1 .itemLocation img{
    width: 35px;
    height: 35px;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation{
    padding: 10px 0;
    background: #fff;
    border-radius: 24px;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    z-index: 10;
    top: 70px;
    display: none;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(232, 232, 232, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation::-webkit-scrollbar
{
  width: 3px;
	background-color: #F5F5F5;
    object-fit: contain;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(235, 235, 235, 0.3);
	background-color: #48660E ;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation .itemLocation{transition: 0.3s;    padding:10px;}
.shoppingCart .shoppingCart-part1 .listChangeLocation .itemLocation:hover{
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation button{
    border-radius: 10px;
    border: 1px dashed #6DA117;
    background: #F9F9F9;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 55px;
    transition: 0.3s;
    width: 300px;
    margin-top: 16px;
    margin: auto;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation button span {
    color: #6DA117;
    letter-spacing: -0.333px;
}
/* End Change Location Style */
.shoppingCart .shoppingCart-part1 h2{margin-bottom: 30px;}
.shoppingCart .shoppingCart-part1 .form-group{gap: 8px;margin-bottom: 20px;}
.shoppingCart .shoppingCart-part1 .form-group .w50{width: 50%;}
.shoppingCart .shoppingCart-part1 .form-group .gap-fxBox{gap: 32px;}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input{
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    background: rgba(250, 250, 250, 0.10);
    padding: 0 20px;
    height: 55px;
    align-items: center;
         position: relative;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input input{
    height: 100%;
    width: 100%;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input input {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input img{
    width: 24px;
    height: 24px;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input span{
    color: rgba(7, 37, 6, 0.40);
}
.shoppingCart .shoppingCart-part1 .checkbox-group{
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5; 
    margin-bottom: 20px;
}
.shoppingCart .shoppingCart-part1 .checkbox-group label span{padding: 0 10px;}
.shoppingCart .shoppingCart-part1 .checkbox-group input{width: 17px;height: 17px;}
.shoppingCart .about-ShoppingCart {
    justify-content: space-between;gap: 16px;
    align-items: center;
    margin-top: 24px;
}
.shoppingCart .shoppingCart-part1 .checkbox-group input:checked + label:after{top: 3px;}
.shoppingCart .about-ShoppingCart .fx-applyCoupon{gap: 18px;}
.shoppingCart .about-ShoppingCart .fx-applyCoupon button{
    height: 60px;width: 178px;
}
.shoppingCart .about-ShoppingCart .fx-applyCoupon input{
    border-radius: 20px;
    border: 1px solid #E1E1E1;
    background: rgba(239, 239, 239, 0.15);
    width: 391px;
    height: 60px;
    padding: 0 15px;
}
 .clearShoppingCart{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 8.5%;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.shoppingCart .shoppingCart-part2{width: 30%;}

.shoppingCart .shoppingCart-part2 .orderSummary{
    padding: 20px 15px;
    border-radius: 20px;
    border: 1px solid #EDEDED;
    background: #FFF;
}
.shoppingCart .shoppingCart-part2 .orderSummary h3{
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E1E0E0;
}
.shoppingCart .shoppingCart-part2 .orderSummary .totalAmount{margin-top: 32px;}
.shoppingCart .shoppingCart-part2 .form {
	margin-top: 20px;
}
.shoppingCart .shoppingCart-part2 .form .form__group{margin-bottom: 20px;gap: 20px;}
.shoppingCart .shoppingCart-part2 .form__radio-input {
	 display: none;
}
.shoppingCart .shoppingCart-part2 .form__radio-label {
	 display: flex;
	 justify-content: start;
	 align-items: center;
	 gap: 10px;
	 cursor: pointer;
}
.shoppingCart .shoppingCart-part2 .form__radio-label span{font-size: 11px;}
 .shoppingCart .shoppingCart-part2 .form__radio-button {
	 height: 18px;
	 width: 18px;
	 border: 1px solid #6DA117;
     background: #fff;
	 border-radius: 50%;
	 display: inline-block;
	 position: relative;
	 transform: translateY(-2px);
}
.shoppingCart .shoppingCart-part2 .form__radio-button::after {
	 content: "";
	 display: block;
	 height:8px;
	 width:8px;
	 position: absolute;
	 border-radius: 50%;
	 top: 50%;
	 left: 50%;
	 transition: opacity 0.1s;
	 transform: translate(-50%, -50%);
	 background-color: #6DA117;
	 opacity: 0;
}
.shoppingCart .shoppingCart-part2  .form__radio-input:checked + .form__radio-label .form__radio-button{
    border: 1px solid #6DA117;
     background: #B9D28F;
}
.shoppingCart .shoppingCart-part2  .form__radio-input:checked + .form__radio-label .form__radio-button:after {
	 opacity: 1;
}
 .shoppingCart .shoppingCart-part2 .fx-buttons{gap: 16px;}
 .shoppingCart .shoppingCart-part2 .btnLinear-gradient,
  .shoppingCart .shoppingCart-part2 .btnOutline-black{
    height: 55px;
    border-radius: 20px;
    padding: 0 16px;
}
 .shoppingCart .shoppingCart-part2 .btnLinear-gradient{width: 60%;}
  .shoppingCart .shoppingCart-part2 .btnOutline-black{width: 40%;}
  .shoppingCart .fxGuote-text{gap: 6px;margin-top: 20px;}
 /* Shopping Cart Empty Style */
.shoppingCartEmpty {
    margin-top: 40px;
    margin-bottom: 100px;
}
.shoppingCartEmpty .fx-shoppingCartEmpty{
    align-items: center;
    justify-content: center;
}
.shoppingCartEmpty .fx-shoppingCartEmpty img{width: 35%;object-fit: cover;}
.shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 28px;}
/* Payments Methods Style  */
.shoppingCart-part1 .radio-item{
    flex: 1 1 calc(100% - 18px);
    max-width: calc(100% - 0px);
    background: #FBFBFB;
    display: block;
    border-radius: 10px;
    border: 1px solid #EDEDED;
     transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.radio-item.selected {
    border: 2px solid, #6DA117;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.shoppingCart-part1 fieldset{gap: 20px;display: flex;flex-direction: column;}
.shoppingCart-part1 fieldset .labelRadio{
    padding: 15px 20px;   
    border-radius: 10px;
}
.shoppingCart-part1 fieldset .labelRadio input{padding: 0;}
.shoppingCart-part1 fieldset .labelRadio .fxLabel{gap: 20px;}
.shoppingCart-part1 .radio-item .gap-formGroup{
    gap: 20px;
    border-top: 1px solid #E9E9E9;
    padding: 20px;
    display: none;
}
.shoppingCart-part1 .radio-item .fx-formGroups{gap: 30px;}
.shoppingCart-part1 .radio-item .fx-formGroups .form-group{
    width: 50%;
    margin-bottom: 0;
}
.shoppingCart-part1 .radio-item .fx-formGroups .form-group label{padding: 0;}
.shoppingCart .shoppingCart-part1 fieldset .checkbox-group{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.shoppingCart .shoppingCart-part1 .checkbox-group label span{padding: 0 6px;}
/* Favorites Page */
 .favoritesSection .favoritesSection-container{width: 70%;margin: 80px auto;}
 .favoritesSection .divTable .btnLinear-gradient{
    border-radius: 20px;
    width: 156px;
    margin: auto;
    height: 50px;
 }
  .favoritesSection .clearShoppingCart{text-align: end;display: block;margin-top: 30px;}
  /* Box Quote Style */
    .boxQuote{
        position: fixed;
        padding:24px 30px;
        border-radius: 20px;
        background: #FFF;
        width: 900px;
        z-index: 9999;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: none;
        overflow-y: scroll;
        height: 90vh;
    }
    .boxQuote::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(232, 232, 232, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    .boxQuote::-webkit-scrollbar{
        width: 3px;
        background-color: #F5F5F5;
    }
    .boxQuote::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(235, 235, 235, 0.3);
        background-color: #48660E ;
    }

    .boxQuote .title-boxQuote{
        padding-bottom: 16px;
        margin-bottom: 30px;
        border-bottom: 1px solid #E1E0E0;
    }
    .boxQuote .title-boxQuote h1{font-size: 30px;}
    .boxQuote .title-boxQuote button{background: none;}
    .boxQuote .title-boxQuote button img{
        width: 24px;
        height: 24px;
    }
    .boxQuote .form-boxQuote .fx-formGroup{gap:14px ;margin-bottom: 20px;}
    .boxQuote .form-boxQuote .fx-formGroup .form-group{width: 50%;}
    .boxQuote .form-boxQuote .form-group textarea{
        border-radius: 10px;
        border: 1px solid #E9E9E9;
        background: #FFF;
        height: 200px;
        width: 100%;
        padding:20px;
    }
    .phone-input-container{
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        border: 1px solid #E9E9E9;
        background: #FFF;
        height: 55px;
        padding: 0 20px;
    }
    .phone-input-container input{
        background: none;
        width: 80%;
        border: none;
    }  
    .dropdown-phone-btn{
    display: flex;
    align-items: center;
    gap: 4px;
} 
.dropdown-phone-btn span{font-size: 13px;}
.phone-input-container .dropdown-phone-list img,
.flag-size{
    width: 31.304px;
    height: 22.174px;
    object-fit: cover;
    border-radius: 5px;
}
.phone-input-container .dropdown-phone-list {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: max-content;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.phone-input-container .dropdown-phone-btn {
    cursor: pointer;
}
.phone-input-container .dropdown-phone-btn p{
    display: flex;
    align-items: center;
    gap: 8px;
}
.phone-input-container .dropdown-phone-btn .arrow-down2{width: 15px;} 
.phone-input-container .dropdown-phone-list p {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #a5a5a5;
}
.phone-input-container .dropdown-phone-list p span{
    font-size: 16px;
}
.phone-input-container .dropdown-phone-list p:hover {
    background-color: #f0f0f0;
}
.phone-input-container .border-input{
    height: 40px;
    width: 0.5px;
    background: #072506;
}
 .boxQuote .fx-buttons{
    justify-content: end;
    margin-top: 20px;
    gap:20px ;
 }
  .boxQuote .fx-buttons button{
    width: 230px;
    height: 60px;
  }
 @media (min-width:1706.67px) {
    .shoppingCart .shoppingCart-part2 .form__radio-label span{font-size: 13px;}
    .shoppingCart .shoppingCart-part2 .btnLinear-gradient,
    .shoppingCart .shoppingCart-part2 .btnOutline-black{height: 70px;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon button{width: max-content;height: 70px;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{height: 70px;}
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 30px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input{height: 65px;}
    .shoppingCart-part1 fieldset .labelRadio {padding: 20px 25px;}
    .favoritesSection .divTable .btnLinear-gradient{width: 176px;height: 55px;}
    .boxQuote .title-boxQuote h1{font-size: 32px;}
    .boxQuote{width: 1000px;height: 95vh;}
    .phone-input-container{height: 70px;}
    .dropdown-phone-btn span{font-size: 15px;}
}
@media (min-width:1920px) {
    .shoppingCart .shoppingCart-part2 .form__radio-label span{font-size: 15px;}
    .shoppingCart .shoppingCart-part2 .btnLinear-gradient,
    .shoppingCart .shoppingCart-part2 .btnOutline-black{height: 80px;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{height: 80px;}
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 33px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input{height: 75px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input img{width: 32px;height: 32px;}
    .shoppingCart-part1 fieldset .labelRadio {padding: 25px 30px;}
    .shoppingCart-part1 .radio-item .gap-formGroup{padding: 30px;gap: 30px;}
    .favoritesSection .divTable .btnLinear-gradient{width: 196px;height:60px;}
    .boxQuote .title-boxQuote h1{font-size: 35px;}
    .boxQuote{height: 85vh;width: 1100px;}
    .dropdown-phone-btn span{font-size: 18px;}
    .phone-input-container .dropdown-phone-list img, .flag-size{width: 36px;height: 28px;}
}
@media (min-width:2048px) { .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 35px;}.boxQuote{height: 80vh;}.phone-input-container{height: 80px;}}
@media (min-width:2304px) {
    .boxQuote{height:73vh;width: 1200px;}
}
@media (min-width:3072px) {
    .boxQuote{height:55vh;width: 1300px;}
}
@media (min-width:4608px) {
    .boxQuote{height:37vh;}
}
@media (min-width:6144px) {
    .boxQuote{height:27vh;}
}
@media (max-width:1228.8px) {
    .shoppingCart .about-ShoppingCart .fx-applyCoupon button {height: 50px;width: 158px;}
    .shoppingCart .shoppingCart-part2 .btnLinear-gradient,
  .shoppingCart .shoppingCart-part2 .btnOutline-black{height: 50px;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{width: 350px;height: 50px;}
    .shoppingCart .fx-shoppingCart{gap: 40px;}
    .shoppingCart .shoppingCart-part2 .form .form__group{gap: 15px;}
    .shoppingCart .shoppingCart-part1 h2,
    .shoppingCart .shoppingCart-part1 .changeLocation{margin-bottom: 22px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input{height: 45px;}
    .favoritesSection .divTable .btnLinear-gradient{width: 136px;height: 45px;}
    .boxQuote{width: 800px;}
    .boxQuote .title-boxQuote h1{font-size: 25px;}
    .boxQuote .title-boxQuote{margin-bottom: 20px;padding-bottom: 12px;}
    .boxQuote .fx-buttons button{height: 50px;width:180px;}
    .boxQuote .form-boxQuote .form-group textarea{height: 200px;}
}
@media (max-width:1024px) {
    .shoppingCart .shoppingCart-part1{width: 65%;}
    .shoppingCart .shoppingCart-part2{width: 35%;}
    .shoppingCart .about-ShoppingCart{flex-wrap: wrap;}
    .shoppingCart .shoppingCart-part2 .form__radio-label h4{line-height: 10px;}
    .shoppingCart .shoppingCart-part2 .form__radio-label span{font-size: 9px;}
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 24px;}
    .shoppingCart .shoppingCart-part1 h2,
    .shoppingCart .shoppingCart-part1 .changeLocation{margin-bottom: 16px;}
    .payment fieldset .labelRadio .fxLabel img{width: 30px;}
    .shoppingCart-part1 fieldset .labelRadio .fxLabel{gap: 15px;}
    .shoppingCart-part1 fieldset .labelRadio{padding: 10px 15px;}
    .shoppingCart-part1 .radio-item .gap-formGroup{padding: 15px;}
    .payment .shoppingCart-part1 .radio-item .fx-formGroups .form-group input{height: 45px;}
    .payment .shoppingCart-part1 .radio-item .fx-formGroups .form-group{gap: 4px;}
    .payment .shoppingCart-part1 .radio-item .labelRadio{border-radius: 10px;}
    .favoritesSection .divTable .btnLinear-gradient{width: 126px;height: 40px;}
    .boxQuote .title-boxQuote{margin-bottom: 16px;padding-bottom: 10px;}
    .boxQuote{width: 700px;}
     .boxQuote .title-boxQuote h1{font-size: 23px;}
     .boxQuote .fx-buttons{gap: 12px;}
     .boxQuote .form-boxQuote .form-group textarea{height: 170px;}
}
@media (max-width:877.71px) {
    .shoppingCart .shoppingCart-part1{width: 100%;}
    .shoppingCart .shoppingCart-part2{width: 40%;}
    .shoppingCart .fx-shoppingCart{flex-direction: column;gap: 32px;justify-content: center;align-items: center;}
    .favoritesSection .divTable .btnLinear-gradient{width: 106px;height: 38px;}
    .favoritesSection .favoritesSection-container{width: 80%;}
    .boxQuote .fx-buttons button{height: 45px;width:150px;}
}
@media (max-width:768px) {
    .shoppingCart .shoppingCart-part2{width:70%;}
    .favoritesSection .favoritesSection-container{width: 90%;}
}
@media (max-width:614.4px) {
    .shoppingCart{margin: 40px 0;}
    .shoppingCart .shoppingCart-part2{width:100%;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{width: 190px;height: 40px;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon button {height: 40px;width: 110px;}
    .shoppingCart .shoppingCart-part2 .orderSummary h3{font-size: 16px;}
    .shoppingCart .shoppingCart-part2 .orderSummary p,
    .shoppingCart .shoppingCart-part2 .orderSummary h5{font-size: 14px;}
    .shoppingCart .shoppingCart-part2 .form__radio-label h4{font-size: 14px;}
    .shoppingCart .shoppingCart-part2 .form .form__group{gap: 24px;}
    .shoppingCart .shoppingCart-part2 .form__radio-label span{font-size: 10px;}
    .shoppingCart .shoppingCart-part2 .btnLinear-gradient,
    .shoppingCart .shoppingCart-part2 .btnOutline-black{font-size: 14px;}
    .shoppingCart .shoppingCart-part1 .itemLocation img{width: 25px;height: 25px;}
    .shoppingCart .shoppingCart-part1 .listChangeLocation{gap: 0px;}
    .shoppingCart .shoppingCart-part1 .listChangeLocation button{height: 45px;width: 55%;}
    .shoppingCart .shoppingCart-part1 .form-group{gap: 4px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input{height: 40px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input img{height: 16px;width: 16px;}
    .shoppingCart .shoppingCart-part1 .changeLocation .changeBtn{padding: 0px 12px;}
    .shoppingCart .shoppingCart-part1 .changeLocation{padding: 12px;}
    .shoppingCart-part1 .radio-item .fx-formGroups .form-group{width: 100%;}
    .shoppingCart-part1 .radio-item .fx-formGroups{flex-direction: column;gap: 16px;}
    .payment .shoppingCart-part1 fieldset .labelRadio{padding: 10px;}
    .payment .shoppingCart-part1 fieldset .labelRadio .fxLabel{gap: 12px;}
    .payment fieldset .labelRadio .fxLabel img{width: 25px;}
    .payment .shoppingCart-part1 fieldset{gap: 12px;}
    .payment .shoppingCart-part1 .radio-item .labelRadio span{text-transform: capitalize;font-size: 14px;}
    .payment .shoppingCart-part1 .radio-item .fx-formGroups .form-group label,
    .payment  .shoppingCart .shoppingCart-part1 .checkbox-group label span{font-size: 13px;}
    .payment .shoppingCart-part1 .radio-item .gap-formGroup{gap: 12px;padding: 15px;}
    .payment .checkbox-group label:before{padding: 7px;}
    .payment .checkbox-group input:checked + label:after{
        left: 6px;
        width: 3px;
        height: 9px;
        top: 4px;
    }
    .favoritesSection .favoritesSection-container{width: 97%;}
    .favoritesSection .divTable .btnLinear-gradient{width: 96px;}
    .favoritesSection .clearShoppingCart{margin-top: 16px;font-size: 14px;}
    .shoppingCart .fxGuote-text span{font-size: 14px;}
    .shoppingCart .fxGuote-text img{width: 20px;}
    .boxQuote{width: 95%;height: max-content; padding: 20px 16px;}
    .boxQuote .form-boxQuote .fx-formGroup{flex-direction: column;}
    .boxQuote .form-boxQuote .fx-formGroup .form-group{width: 100%;}
    .boxQuote .fx-buttons button{width: 50%;font-size: 13px;}
    .phone-input-container{padding: 0 10px;height: 40px;}
    .phone-input-container .border-input{height: 27px;}
    .phone-input-container .dropdown-phone-list img, .flag-size{width: 25px;height: 18px;}
    .phone-input-container .dropdown-phone-list p span{font-size: 12px;}
    .phone-input-container .dropdown-phone-list{padding: 6px;}
   .shoppingCart .shoppingCart-part1 .listChangeLocation{top: 47px;}
}
