.productDetails{margin: 50px 0;}
.productDetails .fx-productDetails{gap: 30px;align-items: center;}
.productDetails .fx-productDetails .sliderAndImages{width: 45%;}
.productDetails .fx-productDetails .productContent{width: 55%;}
.productDetails .fx-productDetails .sliderAndImages .boxImage{
    padding: 20px 80px 60px 80px;
    border-radius: 20px;
    background: #F6F6F6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}
.productDetails .fx-productDetails .sliderAndImages .boxImage img{
    display: block;
    width: 100%;
}
.productDetails .fx-productDetails .sliderAndImages .arrows-sliderProducts{
  position: absolute;
  left: 20px;
  bottom: 20px;
  gap: 16px;
}
.productDetails .fx-productDetails .sliderAndImages .arrows-sliderProducts img{
    width: 44px;
    height: 44px;
}
.productDetails .fx-productDetails .sliderAndImages .imagesProducts{
    overflow: auto;
    margin-top: 20px;
    gap: 15px;
}
.productDetails .fx-productDetails .sliderAndImages .imagesProducts .divImage{
    width: 162px;
    padding: 16px 22px;
    cursor: pointer;
    border-radius: 20px;
}
.productDetails .fx-productDetails .slick-slide  .divImage{
    border: none !important;
}
.productDetails .fx-productDetails .slick-current.slick-active .divImage{
    border: 1.5px solid var(--Color3, #6DA117) !important;
}
.productDetails .fx-productDetails .sliderAndImages .imagesProducts .divImage img{width: 100%;}
.productDetails .fx-productDetails .categoryTitle{
    color: #B0B0B0;
    line-height: 28px;
}
.productDetails .fx-productDetails h1{font-size: 40px;}
.productDetails .fxTitle-product{gap: 15px;}
.productDetails .fxTitle-product button{
    padding: 0px 30px;
    height: 38px;
    border-radius: 40px;
    background: rgba(109, 161, 23, 0.10);
    line-height: 28px; 
}
.productDetails .fxRating-product{gap: 10px;margin-bottom: 16px;}
.productDetails .fxRating-product .stars{gap: 6px;}
.productDetails .fxRating-product .stars img{
    width: 25px;
    height: 25px;
}
.productDetails .fxPrice-product{align-items: center;gap: 9px;}
.productDetails .fxPrice-product h2{font-size: 30px;} 
.productDetails .fxPrice-product span{
    color: #989898;
    text-decoration-line:line-through;
}
.productDetails .contentProduct{
    color: #AFAFAF;
    margin-bottom: 16px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
    margin-top: 16px;
}
fieldset label {
	cursor: pointer;
	box-sizing: border-box;
    padding: 10px 20px;
	-webkit-tap-highlight-color: transparent;
    border-radius: 15px;
    background: #F8F8F8;
    width: 100%;
    position: relative;
    height: 70px;
}
fieldset label .fxLabel{gap: 15px;}
fieldset input[type="radio"] {
	appearance: none;
    position: absolute;
    right: 0;
	-webkit-appearance: none;
	transition: linear 0.8s;
	height: 0;
	width: 0;
	-webkit-tap-highlight-color: transparent;
}
fieldset input[type="radio"]:after {
	content: "";
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
	height: 16px;
	width: 16px;
	border-radius: 20px;
	border: 1px solid #6DA117;
	transition: linear 0.2s;
	cursor: pointer;
}
fieldset input[type="radio"]:checked:after {
	content: "";
	position: absolute;
	height: 16px;
	width: 16px;
	background: #6DA117;
	transition: linear 0.2s;
	cursor: pointer;
}
fieldset input[type="radio"]:checked:before {
	content: "";
	position: absolute;
	height: 7px;
	width: 7px;
	border-radius: 4px;
	background: #fff;
    left: -2rem;
    top: -3.3px;
	z-index: 1;
	cursor: pointer;
}
fieldset .radio-item-container {gap: 18px;flex-wrap: wrap;}
fieldset .radio-item {
	display: flex;
	position: relative;
    flex: 1 1 calc(50% - 18px);
    max-width: calc(50% - 0px);
}
fieldset .icon {
	font-size: 24px;
	position: absolute;
	right: 26px;
	top: 11px;
	transition: linear 0.3s;
}
fieldset input[type="radio"]:checked + span > .icon {
	transform: scale(1.7);
}
.productDetails .fxAmount-product{gap: 12px;}
.productDetails .fxAmount-product button{
    background: none;
    width: 40px;
}
.productDetails .fxAmount-product button img{width: 100%;}
.productDetails .fxButtons-product{gap: 20px;align-items: center;margin-top: 32px;justify-content: space-between;}
.productDetails .fxButtons-product .AddToCart{
    width: 200px;height: 55px;padding: 0;
}
.productDetails .fxButtons-product .buyNow{
    border-radius: 20px;
    border: 2px solid var(--Color5, #072506);
    width: 208px;
    height: 55px;
    background: none;
    padding: 0;
}
.productDetails .fxButtons-product .btnFavourite{
    padding: 15px;
    border-radius: 50%;
    background: #F7F7F7;
}
.productDetails .fxMore{gap: 10px;justify-content: end;margin-top: 32px;}
.productDetails .fxMore:hover{transform: scale(0.99);}
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {

}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
    .productDetails .fxButtons-product .AddToCart,
    .productDetails .fxButtons-product .buyNow{width: 180px;}
    .productDetails .fx-productDetails .sliderAndImages .boxImage{height: 530px;}
    .productDetails .fx-productDetails h1{font-size: 38px;}
    .productDetails .fxPrice-product h2{font-size: 28px;}
}
@media (max-width:1228.8px) {
    .productDetails .fxButtons-product .AddToCart,
    .productDetails .fxButtons-product .buyNow{width: 170px;height: 50px;}
    .productDetails .fx-productDetails h1{font-size: 35px;}
    .productDetails .fxTitle-product button{padding: 0 20px;height: 34px;}
    .productDetails .fxRating-product .stars img{width: 20px;height: 20px;}
    .productDetails .fxRating-product{margin-bottom: 10px;}
    .productDetails .fxPrice-product h2{font-size: 25px;}
    fieldset label{height: 60px;padding: 0 15px;}
    fieldset label .fxLabel img{width: 40px;}
    fieldset label .fxLabel{gap: 10px;}
    fieldset .radio-item-container{gap: 14px;}
    .productDetails .fxButtons-product{margin-top: 15px;}
    .productDetails .fx-productDetails .sliderAndImages .boxImage{height: 490px;}
}
@media (max-width:1024px) {
    .productDetails .fx-productDetails .sliderAndImages .boxImage{height: 450px;}
    .productDetails .fx-productDetails h1{font-size: 30px;}
    .productDetails .fxButtons-product .AddToCart,
    .productDetails .fxButtons-product .buyNow{width: 140px;height: 40px;}
    .productDetails .fxButtons-product{gap: 10px;}
    .productDetails .fxButtons-product .btnFavourite{padding: 10px;}
    fieldset{margin-top: 8px;}
    .productDetails .fxMore{margin-top:24px;}
}
@media (max-width:877.71px) {
    .productDetails .fx-productDetails .sliderAndImages .boxImage{height: 380px;}
    .productDetails .fxButtons-product .AddToCart,
    .productDetails .fxButtons-product .buyNow{width: 100%;height: 35px;}
     .productDetails .fxRating-product .stars img{width: 15px;height: 15px;}
     .productDetails .fxPrice-product h2{font-size: 22px;}
     fieldset label{height: 50px;}
     .productDetails .fxAmount-product{gap: 0px;}
     .productDetails .fxAmount-product button img{width: 30px;}
     .productDetails .fxButtons-product .btnFavourite{padding: 7px;}
     .productDetails .fxButtons-product .btnFavourite img{width: 20px;}
     .productDetails .fxMore{margin-top: 16px;}
}
@media (max-width:768px) {
    .productDetails .fx-productDetails{flex-direction: column;align-items: start;}
    .productDetails .fx-productDetails .sliderAndImages .boxImage{height: max-content;}
    .productDetails .fx-productDetails .sliderAndImages{width: 70%;}
    .productDetails .fx-productDetails .productContent{width: 80%;}
   .productDetails .fx-productDetails .sliderAndImages .imagesProducts .divImage{padding: 8px 16px;}
}
@media (max-width:614.4px) {
    .productDetails .fx-productDetails .sliderAndImages{width: 100%;}
    .productDetails .fx-productDetails .productContent{width: 100%;}
    .productDetails .fx-productDetails h1{width: 75%;line-height: 35px;font-size: 28px;}
    .productDetails .fxTitle-product button{padding: 0 8px;width: 25%;}
}
@media (max-width:512px) {
    .productDetails{margin: 30px 0 50px 0;}
}